USE [master]
GO
/****** Object:  Database [lpuDB]    Script Date: 1/22/2026 3:53:46 PM ******/
CREATE DATABASE [lpuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lpuDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\lpuDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lpuDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\lpuDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lpuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lpuDB]
GO
/****** Object:  Table [dbo].[tbl_dept]    Script Date: 1/22/2026 3:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dept](
	[Id] [int] NOT NULL,
	[deptName] [varchar](50) NULL,
	[EmpID] [int] NULL,
 CONSTRAINT [PK_tbl_dept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emp]    Script Date: 1/22/2026 3:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emp](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[Salary] [decimal](18, 0) NULL,
	[DeptId] [int] NULL,
 CONSTRAINT [PK_tbl_emp_1] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emp_backup]    Script Date: 1/22/2026 3:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emp_backup](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[Salary] [decimal](18, 0) NULL,
	[DeptId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_dept] ([Id], [deptName], [EmpID]) VALUES (1, N'Capp', NULL)
INSERT [dbo].[tbl_dept] ([Id], [deptName], [EmpID]) VALUES (3, N'Tech', NULL)
INSERT [dbo].[tbl_dept] ([Id], [deptName], [EmpID]) VALUES (5, N'Agri', NULL)
GO
INSERT [dbo].[tbl_emp] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (1, N'A', CAST(777 AS Decimal(18, 0)), 3)
INSERT [dbo].[tbl_emp] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (2, N'B', CAST(33 AS Decimal(18, 0)), 7)
INSERT [dbo].[tbl_emp] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (3, N'C', CAST(111 AS Decimal(18, 0)), 1)
GO
INSERT [dbo].[tbl_emp_backup] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (1, N'A', CAST(777 AS Decimal(18, 0)), 3)
INSERT [dbo].[tbl_emp_backup] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (2, N'B', CAST(33 AS Decimal(18, 0)), 7)
INSERT [dbo].[tbl_emp_backup] ([EmpId], [EmpName], [Salary], [DeptId]) VALUES (3, N'C', CAST(111 AS Decimal(18, 0)), 1)
GO
/****** Object:  StoredProcedure [dbo].[CRUDLpuDB]    Script Date: 1/22/2026 3:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--CREATE PROCEDURE CRUDLpuDB
CREATE PROCEDURE [dbo].[CRUDLpuDB]
	-- Add the parameters for the stored procedure here
	@Action varchar(50),
	@Id int = NULL,
	@Name varchar(50) = NULL
AS
BEGIN
--select Id, deptName from tbl_dept
	IF @Action = 'INSERT' 
	BEGIN

	INSERT INTO tbl_dept(Id, deptName) VAlUES(@Id, @Name)
	END

	ELSE IF @Action = 'SELECT'
	BEGIN
	SELECT * FROM tbl_dept
	END

	else if @Action = 'UPDATE'
	BEGIN
	UPDATE tbl_dept set deptName = @Name where Id=@Id
	END

	ELSE IF @Action = 'DELETE'
	BEGIN
	DELETE tbl_dept where Id =@Id
	END

	ELSE
	BEGIN
	PRINT 'INVALID'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[Practise]    Script Date: 1/22/2026 3:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Practise]
-- optional
as 
Begin

SELECT * FROM [dbo].[tbl_emp]
END

GO
USE [master]
GO
